html{
    background: url('vecteezy-future-bg.jpg');
    color: #ffffff;
}

h1{
    font-family: 'Pixel Digivolve', sans-serif;
    font-size: calc(8px + 1.5625vw);
    font-weight: 100;
    font-style: italic;
    letter-spacing: 0.8px;
    background: #FF880D;
    background: -webkit-linear-gradient(to top, #FF880D 0%, #FFBF5B 50%, #FFF9AC 100%);
    background: -moz-linear-gradient(to top, #FF880D 0%, #FFBF5B 50%, #FFF9AC 100%);
    background: linear-gradient(to top, #FF880D 0%, #FFBF5B 50%, #FFF9AC 100%);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #229cb0;
}

#search{
    padding: 0.1em;
    border: 3px solid white;
    border-radius: 50px;
    background-color: #229cb0;
}

#container{
    padding: calc(8px + 1.5625vw);
    margin: auto;
    width: 100%;
}

tbody{
    display: grid;
    grid-template-columns: auto auto auto auto;
}

tr{
    border: 2px solid black;
    margin: 0.5em;
}

.digimonImg{
    height: 140px;
    width: 140px;
}

.credits{
    color: #ffffff;
}